@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>10 primeiros eventos encontrados no calendário</h2>
        @{

            if (ViewBag.eventos != null)
            {
                IList<Google.Apis.Calendar.v3.Data.Event> eventos = ViewBag.eventos;
                foreach (var evento in eventos)
                {
                    <div class="col-md-12">Nome: @evento.Summary</div>
                    <div class="col-md-12">Início: @evento.Start.Date</div>
                    <div class="col-md-12">Termino: @evento.End.Date</div>
                    <div class="col-md-12">Link: @evento.HtmlLink</div>
                    <div class="col-md-12">DEscrição: @evento.Description</div>
                    <hr />
                }
            }
            else
            {
                <div class="col-md-12">Nenhuma evento encontrado</div>
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Adicionar evento", "Adiciona", null, new { @class =  "btn btn-primary"})
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Adicionar evento com gadget", "AdicionaComGadget", null, new { @class = "btn btn-primary" })
    </div>
</div>