@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dados do meu Classroom</h2>
        @if (ViewBag.courses != null)
        {
            IList<Google.Apis.Classroom.v1.Data.Course> courses = ViewBag.courses;
            foreach (var turma in courses)
            {
                <div class="col-md-12">@turma.Name</div>
            }
        }
        else
        {
            <div class="col-md-12">Nenhuma turma adicionada</div>
        }
    </div>
    @if (ViewBag.work != null)
    {
        <div class="col-md-4">
            <h2>Trabalhos enviados com resposta</h2>
            @{
                Google.Apis.Classroom.v1.Data.CourseWork work = ViewBag.work;
                <div class="col-md-12">@work.Description - @work.Materials - @work.Title</div>
            }
        </div>
                }
    @if (ViewBag.work != null)
    {
        <div class="col-md-4">
            <h2>Envios</h2>
            @{
                IList<Google.Apis.Classroom.v1.Data.StudentSubmission> submissions = ViewBag.submissions;
                foreach (var submission in submissions)
                {
                    <div class="col-md-12">@submission.AssignedGrade - @submission.DraftGrade - @submission.State</div>
                }
            }
        </div>
    }
</div>