@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Todas as turmas cadastradas no meu Classroom</h2>
        @if (ViewBag.courses != null)
        {
            IList<Google.Apis.Classroom.v1.Data.Course> courses = ViewBag.courses;
            foreach (var turma in courses)
            {
                <div class="col-md-12">@turma.Name</div>
            }
        }
        else
        {
            <div class="col-md-12">Nenhuma turma adicionada</div>
        }
    </div>
    @if (ViewBag.work != null)
    {
        <div class="col-md-4">
            @{
                Google.Apis.Classroom.v1.Data.CourseWork work = ViewBag.work;
                IList<Google.Apis.Classroom.v1.Data.StudentSubmission> submissions = ViewBag.submissions;
            }
            <h2>Trabalho - @work.Title</h2>
            @foreach (var submission in submissions)
            {
                <div class="col-md-12">@submission.AssignedGrade - @submission.DraftGrade - @submission.State</div>
            }
            @*
                @{
                    Outros campos do envio
                    <div class="col-md-12">@work.Description - @work.Materials - @work.Title</div>
                }
            *@
        </div>
    }

    @if (ViewBag.turmasAluno != null)
    {
        <div class="col-md-4">
            @{
                IList<Google.Apis.Classroom.v1.Data.Course> courses = ViewBag.turmasAluno;
            }
            <h2>Turmas do aluno</h2>
            @foreach (var turma in courses)
            {
                <div class="col-md-12">@turma.Name</div>
            }
        </div>
    }

    @if (ViewBag.turmasProf != null)
    {
        <div class="col-md-4">
            @{
                IList<Google.Apis.Classroom.v1.Data.Course> courses = ViewBag.turmasProf;
            }
            <h2>Turmas do Professor</h2>
            @foreach (var turma in courses)
            {
                <div class="col-md-12">@turma.Name</div>
            }
        </div>
    }
                @*

                    @if (ViewBag.work != null)
                    {
                        <div class="col-md-4">
                            <h2>Envios</h2>
                            @{
                                foreach (var submission in submissions)
                                {
                                    <div class="col-md-12">@submission.AssignedGrade - @submission.DraftGrade - @submission.State</div>
                                }
                            }
                        </div>
                                }
                *@
</div>